<div *ngIf="dataLoaded == false"
  class="spinner-border text-secondary"
  role="status">
  <span class="visually-hidden">Loading...</span>
</div>
<ul class="list-group">
  <li 
    class="list-group-item list-group-item-info">
    Colors
  </li>
  <li routerLink="/cars" [class]="getAllColorClass()"
    (click)="clearCurrentColor()">All Colors</li>
  <li (click)="setCurrentColor(color)"
    routerLink="/cars/color/{{color.colorName}}"
    *ngFor="let color of colors"
    [class]="getCurrentColorClass(color)">
    {{ color.colorName }}
  </li>
</ul>
<br/>
