mat-toolbar {
  justify-content: space-between;
}

.content {
  padding: 16px;
}

.content > mat-card {
  margin-bottom: 16px;
}

.column-label {
  margin-right: 8px;
  font-size: 1rem;
}
.mat-elevation-z4{
  background-color:rgb(56, 52, 58);
}
.mat-card-content{
  text-align: center;
  color: aliceblue;
  font-size: large;
}
.mat-card-actions{
  text-align: center;
  color: aliceblue;

}
